# MongoDB
MONGO_URI=mongodb://student:student_secure_password@localhost:27017/wp_labs?authSource=admin
DB_NAME=wp_labs

# Application
PORT=8000
NODE_ENV=development

# JWT Secrets (CHANGE IN PRODUCTION!)
JWT_ACCESS_SECRET=ba55f4e67c736521ae68caa5b307a2a0838e13193b7a0dbb87f31261aadceaab
JWT_REFRESH_SECRET=c719a22d50a965ee222bca0c30cfcfe7f330a70e8cf7705c3fa2511f9389d38a
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis_secure_password_change_in_prod
CACHE_TTL_DEFAULT=300

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=student
RABBITMQ_PASS=student_secure_rabbit_pass_change_in_prod

# Queue names (точечная нотация)
QUEUE_USER_REGISTERED=wp.auth.user.registered

# SMTP конфигурация
SMTP_HOST=smtp.example.com
SMTP_PORT=465
SMTP_USER=your_email@example.com
SMTP_PASS=your_app_password
SMTP_FROM=your_email@example.com
SMTP_SECURE=true

# Yandex OAuth
YANDEX_CLIENT_ID=aef65f68dbaf46a0a0f2af20ce216d72
YANDEX_CLIENT_SECRET=daa09f23542b437fb0fced37249809a9
YANDEX_CALLBACK_URL=http://localhost:8000/auth/oauth/yandex/callback

# VK OAuth
VK_CLIENT_ID=7890123
VK_CLIENT_SECRET=your_vk_client_secret_here
VK_CALLBACK_URL=http://localhost:8000/auth/oauth/vk/callback

# MinIO
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minio_admin
MINIO_SECRET_KEY=minio_secure_password
MINIO_BUCKET=wp-labs-files
MINIO_USE_SSL=false
MAX_FILE_SIZE=10485760