# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=student
DB_PASSWORD=student_secure_password
DB_NAME=wp_labs
PORT=4200

# Environment (development | production)
# В production режиме документация Swagger/OpenAPI отключается
NODE_ENV=development

# JWT Secrets (CHANGE IN PRODUCTION!)
JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# Yandex OAuth
YANDEX_CLIENT_ID=your_yandex_client_id
YANDEX_CLIENT_SECRET=your_yandex_client_secret
YANDEX_CALLBACK_URL=http://localhost:4200/auth/oauth/yandex/callback

# VK OAuth
VK_CLIENT_ID=your_vk_client_id
VK_CLIENT_SECRET=your_vk_client_secret
VK_CALLBACK_URL=http://localhost:4200/auth/oauth/vk/callback
